<!--<div class="mdl-grid">-->
    <dynamic-form [questions]="questions" (formSubmitted)="onFormSubmitted($event)"></dynamic-form>
    <!--<div class="mdl-cell mdl-cell&#45;&#45;4-col">-->
        <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect">-->
            <!--<i class="material-icons">add</i>-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->



<!--<form [formGroup]="form">-->
    <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label" ngControlGroup="searchterm" #searchterm="ngForm">-->
        <!--<input class="mdl-textfield__input" type="text" id="searchterm" ngControl="text" #text="ngForm">-->
        <!--<label class="mdl-textfield__label" for="searchterm">Search...</label>-->
    <!--</div>-->
<!--</form>-->