<div class="mdl-grid">
    <div *ngFor="let track of tracks" class="mdl-cell mdl-cell--4-col">
        <div class="demo-card-image mdl-card mdl-shadow--2dp"
             [ngStyle]="{'background-image':'url(' + track.cover + ')'}">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
                <div class="track-info-wrapper">
                    <span class="demo-card-image__filename">{{track.artists}}</span>
                    <div class="demo-card-image__filename">{{track.title}}</div>
                </div>
                <button (click)="play(track)"
                        *ngIf="!track.isPlaying"
                        class="play-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">play_arrow</i>
                </button>
                <button (click)="stop(track)"
                        *ngIf="track.isPlaying"
                        class="play-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">pause</i>
                </button>

            </div>
        </div>
    </div>
</div>
